.thing{
	width: 30%;
	min-width: 29em;
}

.thing.detail{
    width: 100%;
    margin: 1em;
}
.thing.detail .thing-headline{
	font-size: 3em;
	font-weight: 200;
	width: 6em;
	line-height: 1.2;
	letter-spacing: 0.01em;
}
.thing.detail .thing-description{
	font-size: 1.5em;
	padding-left: .2em;
}
.thing.detail picture{
	width: 30%;
	height: auto;
	border: 0;
	position: relative;
}

.specs-card{
	display: flex;
	flex-direction: row;
/*				flex-wrap: wrap;*/
	background: white;
	width: 100%;
	gap: 1em;
	font-weight: 500;	
}
.specs-card>*{
	padding: 5%;
	margin: 0;
}
.specs-card img{
	display: block;
	width: 20em;
	height: 100%;
}
.specs-card ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	list-style: none;
	color: black;
	border-left: 1px solid #00000022;
}
.specs-card li{
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: .5em;
	padding: .5em;
}
.specs-card h5,
.specs-card p{
	margin: 0;
}
.specs-card h5{
	opacity: .4;
}
.linklist{
	display: flex;
	gap: 2em;
}

.stage{
	background: linear-gradient(180deg, #E0E0E0 0%, #FFF 70.83%);
}
.stage .wrapper{
	flex-direction: row;
	flex-wrap: wrap;
}
.stage h3{
	color: black;
}
.salesclaim{
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 2em;
	width: 25em;
	height: 100%;
	text-align: right;
}
.wrapper.more.programme{
	background: rgb(0, 29, 25);
}
.more h5{
	margin-bottom:0;
}
#hero .wrapper{
	padding-bottom: 0;
}

#continue{
	min-height: unset;
}
#continue .wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	gap: 2em;
}
#continue .wrapper:before{
	content: 'More Things';
	font-size: 1.5em;
	margin-right: auto;
}
