#hero{
	position: relative;
	background: white;
	color: black;
	background-image: url(assets/img/things-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 90vh;
}
#hero h1{
	text-align: center;
	font-weight: 200;
	letter-spacing: .05em;
}
#hero:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.9;
	background: radial-gradient(66.71% 66.71% at 50.00% 50.00%, rgba(255, 255, 255, 0.00) 0%, #FFF 62.30%);
	background-attachment: fixed;
	z-index: 0;
	pointer-events: none;
}
.logo{
	position: absolute;
	bottom: 10%;
	height: 4em;
	width: 16em;
	max-width: 60vw;
	background-image: url(assets/img/Logo-light.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.wrapper.thingsgrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	max-width: 1500px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4em;

	padding: 5% 5% 0;
}
.thing{
	width: 30%;
	min-width: 29em;
}

#quote{
	background-image: url(assets/img/particles-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#quote h2{
	max-width: 23em;
}
#quote .links{
	bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: baseline;
	margin-top: 10%;
	gap: 1em 2em;
}
#quote a{
	padding: .5em 0;
}