
body {
  background-color: red;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  font-family: "Archivo", sans-serif;
}

.image {
  width: 138px;
  height: 138px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.title {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.icon {
  width: 9px;
  height: 9px;
  margin-left: 5px;
}

.description {
  font-size: 14px;
  margin-top: 5px;
}
